.house-discover{
.slick-slider{
    .slick-track{
        display:flex;
    }
    .slick-arrow{
        top: 13rem;
        background-color: #888;
        border-radius: 50%;
    }
}

    .row{
    height: auto;
    width: 300px;
    cursor: pointer;
    .individualrow{
        position: relative;
    }
    .individual-house{
        overflow: hidden;
        width: 300px;
        margin-right: 10px;
        border-radius: 15px;
        position: relative;
    }
    img{
        filter: brightness(75%);
        width: 300px;
        height: 400px;

        object-fit: cover;
        transition: all .3s ease;
    }
    img:hover{
        transform: scale(1.1);
        overflow: hidden;
    }
    .bgcard{
        height: 416px;
    }
    h2, button{
        position: absolute;
    }
    h2{
        top: 0;
        color: white;
        font-size: 21px;
        font-weight: 600;
        padding: 10px;
    }
    button{
        bottom: 13px;
        background: #ffffff7a;
    justify-content: center;
    margin-left: 74px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    }
}
img:nth-child(odd){
    width: 300px;
    height: 200px;
}

.explorehouse{
    width: 98%;
    text-align: center;
    .container-fluid{
.slider{
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}}
}
}