.signin-login{
  .btn{
    border: 1px solid grey;
  }

}
.navbar{
  border-bottom: 1px solid #999;
  background-color: white;
}
.trulia-logo{
  padding:0 2rem 0 1rem;
}
.dropbtn {
  background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .login-signin-btn{
    border: 1px solid;
  }
  .login-signin-btn:hover{
    background-color: #999;
  }
.signin{
  form{
    display: flex;
    flex-direction: column;
  }
  .modal-dialog{
    display: flex;
    justify-content: center;
    padding-top: 14rem;
    .modal-content{
        width: 75%;
        height: 60vh;
        background-color: white;
    }
    .modal-header{
      .btn-close{
        width: 20px !important;
      }
    }

    button{
      background-color: rgb(0, 120, 130);
      color: white;
      border-radius: 7px;
      font-size: 15px;
      font-weight: 600;
      width: 100%;
  }
  button:hover{
      background-color: white;
      color: rgb(0, 120, 130);
      border: 1px solid rgb(0, 120, 130);;
  }
  }
}