.footer{
    display: flex;
    justify-content: center;
    gap: 35px;
    .list{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding-top: 10px;
        align-items: center;
        .show{
            border: none;
            font-size: 10px;
            color: blue;
        }
        #more{
            display: flex;
            flex-direction: column;
        }
        div{
            display: flex;
            flex-direction: column;
        }
    }
    h3{
        font-size: 15px;
    color: grey;
    font-weight: 600;
    }
    .explore-trulia-footer{
        a{
            display: flex;
        }
    }
}